# Jupyter Notebooks
.ipynb_checkpoints/


# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
pip-log.txt
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Данные
*.csv
*.xlsx
*.h5
*.pkl
*.joblib
dataset/



# Прочее
.DS_Store
Thumbs.db